.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

label {
  font-size: 16px;
  color: #6f6f6f;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid#3f3f3f;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

input::placeholder {
  color: #a5a5a5;
}

.error{
   height: 18px;
  color: red;
  font-size: 18px;
}
